<h1>Edit Your Question</h1>

<p><%= button_to "Delete Question", question_path, method: :delete %></p>

<%= form_for(@question) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
