<h1><%= @question.title %></h1>

<p><%= @question.description %></p>


<ol>
  <% @answers.each do |answer|%>
    <li><%= answer.description %></li>
  <% end %>
</ol>

<p><%= button_to "Edit Question", edit_question_path, method: :get %></p>
<p><%= button_to "Delete Question", question_path, method: :delete %></p>

<%= form_for [@answer] do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>


  <%= f.hidden_field(:question_id, value: @question.id) %>


  <div class="actions">
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>
